{% extends 'EngiShopBundle::admin_layout.html.twig' %}

{% block header %}
    <h1>Nowa Kategoria</h1>
{% endblock header %}
{% block content %}
    <form class="contain-floats" action="{{ path('engishop_admin_category_new') }}" method="post" {{ form_enctype(form) }}>

        {{ form_errors(form) }}
        {{ form_row(form.active) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.slug) }}
        <span class="info-note">Dozwolone są <strong>litery</strong>, <strong>cyfry</strong> oraz znaki: <Strong>-</Strong>, <Strong>+</Strong>, <Strong>_</Strong></span>

        {{ form_rest(form) }}

        <div class="col-lg-offset-3 col-lg-8">
            <div class="buttons-wrap inline-block">
                <a href="{{ path('engishop_admin_category') }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Cofnij</a>
                <button type="submit" class="btn btn-primary">Dodaj <span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
        </div>
    </form>
{% endblock content %}