<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('engishop_front_homepage') }}">EngiShop</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('engishop_front_homepage') }}"><span class="glyphicon glyphicon-home"></span> Strona domowa</a></li>
                <li><a href="{{ path('engishop_front_category') }}"><span class="glyphicon glyphicon-star"></span> Sklep</a></li>
                <li><a href=""><span class="glyphicon glyphicon-comment"></span> Blog</a></li>
                <li><a href=""><span class="glyphicon glyphicon-envelope"></span> Kontakt</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if app.user %}
                <li><a href=""><span class="glyphicon glyphicon-user"></span> Konto</a></li>
                <li><a href=""><span class="glyphicon glyphicon-shopping-cart"></span> Koszyk</a></li>
                <li><a href="{{ path('engishop_front_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a></li>
            {% else %}
                <li><a href="{{ path('engishop_front_login') }}">Zaloguj <span class="glyphicon glyphicon-log-in"></span></a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>