{% extends 'EngiShopBundle::layout.html.twig' %}

{% block content_main %}
    <h1>Koszyk ({{ cart.itemsQuantity }})</h1>

    {% if cart.itemsQuantity %}
    <form class="form-inline" action="{{ path('engishop_front_cart_set_quantity') }}" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>Lp.</th>
                    <th>Przedmiot</th>
                    <th>Cena (szt.)</th>
                    <th>Ilość</th>
                    <th>Cena (razem)</th>
                    <th class="col-narrow">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for item in cart.items %}
                <tr>
                    <td>#{{ loop.index }}</td>
                    <td><a href="{{ path('engishop_front_product_show', {slug: item.product.slug}) }}">{{ item.name }}</a></td>
                    <td>{{ item.price | number_format(2, ',') }} zł</td>
                    <td>
                        <input class="form-control input-narrow" type="number" min="0" name="quantity[{{ item.id }}]" title="Quantity" value="{{ item.quantity }}">
                    </td>
                    <td>{{ item.total | number_format(2, ',') }} zł</td>
                    <td>
                        <button type="submit" class="btn btn-link pull-right btn-delete" data-target-name="quantity[{{ item.id }}]"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="2">&nbsp;</td>
                    <td><span class="bold">Razem:</span></td>
                    <td><span class="bold">{{ cart.itemsQuantity }}</span></td>
                    <td><span class="bold">{{ cart.total | number_format(2, ',') }} zł</span></td>
                    <td>
                        <button type="submit" class="btn btn-warning btn-sm">Przelicz ilość</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <form class="pull-right" action="{{ path('engishop_front_order_new') }}" method="post">
        <label class="pull-right discount-input">
            Kod zniżkowy:
            <input type="text" name="discountCode" class="form-control">
        </label>

        <div >
            <a class="btn btn-default" href="{{ path('engishop_front_category') }}"><span class="glyphicon glyphicon-chevron-left"></span> Wróć do zakupów</a>
            <span>albo</span>
            <button type="submit" class="btn btn-primary">Złóż zamówienie! <span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
    </form>
    {% else %}
        <div class="center-content">
            <h2>Twój koszyk jest pusty!</h2>
            <a class="btn btn-primary" href="{{ path('engishop_front_category') }}"><span class="glyphicon glyphicon-chevron-left"></span> Wróć do zakupów</a>
        </div>
    {% endif %}

    <div class="clearfix"></div>

    <script type="text/javascript">
        $(function() {
            $('.btn-delete').click(function() {
                var $btn = $(this);

                bootbox.dialog({
                    message: 'Czy napewno chcesz usunąć ten produkt?',
                    title: 'Potwierdź decyzję',
                    buttons: {
                        no: {
                            label: 'Nie',
                            className: 'btn-default'
                        },
                        yes: {
                            label: 'Tak',
                            className: 'btn-danger',
                            callback: function() {
                                $btn.closest('form').find('input[name="' + $btn.data('target-name') + '"]').val(0).end().submit();
                            }
                        }
                    }
                });

                return false;
            });
        });
    </script>
{% endblock content_main %}